html {
  font-size: 18px;
}

@media (max-width: 1000px) {
  html {
    font-size: calc(12px + .4vw);
  }
}

.mood {
  height: 100vh;
  width: 100vw;
  background: url('./images/anthony-ingram-18853.jpg');
  background-size: cover;
}

.havamal {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: #f5f5f5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.verse {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Cormorant', serif;
}

.verse > * {
  width: 50%;
}

.verse__english {
  font-size: 2.4rem;
  font-weight: 600;
}

.verse__english:first-letter {
  text-transform: capitalize;
}

.verse__norse {
  font-size: 1.6rem;
}

.citation {
  font-size: 1rem;
}

.randomLink {
  position: absolute;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Cormorant', serif;
}
